*

.header a:link{
    color: black;
    text-decoration: none;

}

  
.header a:hover{
    color: #0A7777;
}

.header a:active{
    color: orange;
}



.header{
    margin: 0 auto;
    display: flex;
    list-style: none;
    background-color: white;
    height: 110px;
    justify-content: center;
    position: fixed;
    align-items: center;
    top: 0; left: 0; right: 0;
    z-index: 1000;

}

#travel {
    color: #0A7777;
}

.nav__container{
    display:flex;
    border-radius: 8px;
    margin: 0 auto;
    height: 110px;
    align-items: center;
    border-bottom: solid rgba(168, 168, 168, 0.25);

}

.buttons{
    float:inline-end;
}


.header li a{
    color: black;
    font-size: 24px;
    line-height: 29px;
}
.nav__bar li{
    display: inline;
    margin-left: 70.5px;
    padding-top: 55px;
    
}

.nav__bar li #sign__button{
    color:#fff;
    background-color:#0A7777;
    border-radius: 9px;
    padding: 14px 25px;
    margin-right: 50px;
}


#menu__bar{
    display: none;
}


.header label{
    font-size: 25px;
    cursor: pointer;
    display: none;
    
}

.header .traveli__logo{
    color: #0A7777;
    font-size: 24px;
    display: none;
}







@media(max-width:1370px){
    .header li a{
        font-size: 20px;
    
    }

    .header li a{
        font-size: 20px;
    
    }

    .header li {
        margin-left: 50px;
    
    }
}

@media(max-width:1100px){
    .header label{
        display: initial;
        user-select: none;
        
    }
    .header .nav__container{
        position: absolute;
        top: 100%; left: 0; right: 0;
    
    }

    .header .nav__container .nav__bar ul li a{
        display: block;
        width: 100%;

    }

    .nav__bar ul li a{
        width: 100%;
        padding-bottom: 10px;
        padding-left: 0px;
    }

    .header{
        justify-content:space-around;

    }
    .header .traveli__logo{
        display: initial;


    }

   

    .nav__container{
        background-color: #fff;
        z-index: 2000;
        display: block;
        height: 470px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        text-align: center;
        display: none;

    }

    #menu__bar:checked ~ .nav__container{
        display: initial;
    
    }

    #sign__button{
       width: 90px;
       display: inline-block;

    }

    #login__button{
        padding-bottom: 25px;
    }
    
    .header ul{
        padding-left: 0px;
    }

    .nav__container  #travel{
        display: none;
    }

    


}






