

.backpack__guy{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 100px;

}


.backpack__guy h1{
    font-size: 48px;
    line-height: 69px;
    margin-top: 276px;
    margin-bottom: 80px;

    
}

.backpack__guy p{
    font-weight: 400;
    line-height: 35px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;

}

.backpack__guy #back__girl{
    margin-top: 75px;
    padding-left: 290px;
}

.search__box{
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 63px;
    font-family: 'Inter', sans-serif;
    line-height: 1px;
    
}


.search__box #calendar{
    display: inline;
    padding-left: 27px;
    padding-top: 36px;
    padding-bottom: 37px;
    padding-right: 30px;
}

input[type="date"]{
    border: none;
    border-radius: 40px;
    font-weight: 600;
    font-size: 12px;
    outline:none;

    
}
input[type="date"]::-webkit-calendar-picker-indicator{
    display: none;

}

.date__picker label{
    padding-left: 20px;
    font-weight: 600;
    font-size: 15px;

}
.search__box{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

}

.search__box #appt{
    height: 12px;
    line-height: 15px;
}

.date__picker #vector{
    padding-left: 0px;
    padding-right: 14px;
}

.date__picker #line{
    padding-right: 32px;
}

input[type="text"]{
    border:none;
    border-radius: 60px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

    margin-top: 15px;
    box-sizing: border-box;
    width:120px;
    margin-left: 20px;

}

.location__selector label{
    padding-left: 63px;
    padding-bottom: 10px;
}
.location__selector #vector__2{
    padding-left: 32px;
}

.search__box #search__icon{
    padding-left: 27px;
    padding-right: 60px;

}

.about__us{
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin-top: 238px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.palm__pic{
    position: relative;
    top: 0;
    left:40px;
}
.church__pic{
    position: relative;
    top: 100px;
    left: -130px;
}
.about__us__texts label{
    color: #0A7777;
    font-weight: 600;
    font-size: 24px;
}

.about__us__texts h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
}
.about__us__texts p{
    font-size: 24px;
    padding-bottom: 30px;
    font-family: 'Inter', sans-serif;
}
.about__numbers li{
    list-style: none;
    display: inline;
    padding-right: 78px;
    color: #0A7777;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    
}

.about__numbers ul{
    padding-left: 0px;
}

.number__descriptions li {
    list-style: none;
    display: inline-block;
    padding-right: 40px;


}

.number__descriptions ul{
    padding-left: 0px;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.slider__texts{
    display:flex;
    margin-top: 212px;
    justify-content:center;
    padding-right: 800px;

}

.slider__texts label{
    font-size: 24px;
    color: #0A7777;
    height: 40px;
    flex-direction: column;
    position:absolute;
    padding-right: 220px;
}

.slider__texts h3{
    padding-top: 20px;
    font-size: 48px;
    font-weight: 700;
    line-height: 69px;
    
}


.slider__container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
}

.slider__container span{
    position: relative;
    
}

.slider__container .slide__box__1{
    background-color:rgba(217, 217, 217, 0.47); 
    padding-top: 19px;
    padding-left: 19px;
    padding-bottom: 23px;
    max-width: 340px;
    border-radius: 13px;
    transition: all 1s ease;
    margin-bottom: 200px;
    cursor: pointer;
}

.slide__box__1:hover{
    background-image: url(../images/beach__pic.jpg);
    color: #9bf0f0;
}



.slide__box__1:hover{
    border:none;
    border-radius: 60px;
    box-shadow:
    0 2.8px 2.2px rgba(60, 240, 11, 0.034),
    0 6.7px 5.3px rgba(230, 112, 112, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(70, 134, 50, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(202, 238, 74, 0.12);

    margin-top: 15px;
    box-sizing: border-box;
    margin-left: 20px;    
}

.slide__box__1 img{
    transition: all 1.2s ease;
}

.slide__box__1:hover img{
    border-radius: 60px;
    transition: all 1s ease;
    width: 95%;
}

.slider__container .slide__box__2{
    background-color:rgba(217, 217, 217, 0.47); 
    padding-top: 19px;
    padding-left: 19px;
    padding-bottom: 23px;
    max-width: 340px;
    border-radius: 13px;
    padding-right: 25px;
    margin-bottom: 200px;
    transition: all 1s ease;
    cursor: pointer;
}

.slide__box__2:hover{
    background-image: linear-gradient(rgba(34, 80, 32, 0.377), rgba(255,255,255,0.5)), url(../images/background__2.jpg);
    transition: all 2s ease;
    background-repeat: no-repeat;
    height: 100%;
    color: #fff;
}


.slide__box__2:hover{
    border:none;
    border-radius: 60px;
    box-shadow:
    0 2.8px 2.2px rgba(118, 235, 83, 0.034),
    0 6.7px 5.3px rgba(163, 23, 23, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(70, 134, 50, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(202, 238, 74, 0.12);

    margin-top: 15px;
    box-sizing: border-box;
    margin-left: 20px;    


}
.slide__box__2:hover .slider__container{
    background-image: url(../images/background__2.jpg);
}

.slide__box__2 img{
    transition: all 1.2s ease;
}

.slide__box__2:hover img{
    border-radius: 60px;
    transition: all 1s ease;
    width: 99%;
}

#two:checked ~ .slide__box__1{
    margin-left: -100%;
    opacity: 0;

}
#two:checked ~ .slide__box__2{
    margin-top: -100%;
    opacity: 0;

}
#two:checked ~ .slide__box__3{
    margin-right: -100%;
    opacity: 0;

}
#two:checked ~ .slide__box__4{

    margin-left: 3900px;
}


#one:checked ~ .slide__box__4{
    opacity: 0;
    margin-bottom: -100%;
    display: none;
}

#one:checked ~ .slide__box__5{
    opacity: 0;
    margin-top: -100%;
    display: none;
}

#one:checked ~ .slide__box__6{
    opacity: 0;
    margin-bottom: -100%;
    display: none;
}

.slider__container .slide__box__3{
    background-color:rgba(217, 217, 217, 0.47); 
    padding-top: 19px;
    padding-left: 19px;
    padding-bottom: 23px;
    max-width: 340px;
    border-radius: 13px;
    margin-bottom: 200px;
    transition: all 1s ease;
    cursor: pointer;
    
}
.slide__box__3:hover{
    background-image: url(../images/beach__pic__2.jpg);
    color: #e1e785;
}


.slide__box__3:hover{
    border:none;
    border-radius: 60px;
    box-shadow:
    0 2.8px 2.2px rgba(12, 120, 221, 0.034),
    0 6.7px 5.3px rgba(163, 23, 23, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(70, 134, 50, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(202, 238, 74, 0.12);

    margin-top: 15px;
    box-sizing: border-box;
    margin-left: 20px;    
   
}

.slide__box__3 img{
    transition: all 1.2s ease;
}

.slide__box__3:hover img{
    border-radius: 60px;
    transition: all 1s ease;
    width: 95%;
    box-shadow:  2.8px 2.2px rgba(0, 0, 0, 0.034);
}

.slider__container .slide__box__4{
    background-color:rgba(217, 217, 217, 0.47); 
    padding-top: 19px;
    padding-left: 19px;
    padding-bottom: 47px;
    max-width: 340px;
    border-radius: 13px;
    transition: all 1s ease;
    height: 100%;
    cursor: pointer;
    
}

.slider__container .slide__box__5{
    background-color:rgba(217, 217, 217, 0.47); 
    padding-top: 19px;
    padding-left: 19px;
    padding-bottom: 47px;
    max-width: 340px;
    border-radius: 13px;
    transition: all 1s ease;
    height: 100%;
    padding-right: 20px;
    cursor: pointer;
    
}

.slider__container .slide__box__6{
    background-color:rgba(217, 217, 217, 0.47); 
    padding-top: 19px;
    padding-left: 19px;
    padding-bottom: 47px;
    max-width: 340px;
    border-radius: 13px;
    transition: all 1s ease;
    height: 100%;
    cursor: pointer;
    
}

.slide__box__1 #place__name__1{
    font-size: 24px;
    font-weight: 700;
    

}

.slide__box__2 #place__name__2{
    font-size: 24px;
    font-weight: 700;
}

.slide__box__3 #place__name__3{
    font-size: 24px;
    font-weight: 700;
}

.slide__box__3 #place__name__4{
    font-size: 24px;
    font-weight: 700;
}

.slide__box__3 #place__name__5{
    font-size: 24px;
    font-weight: 700;
}

.slide__box__3 #place__name__6{
    font-size: 24px;
    font-weight: 700;
}

.slider__container img{
    padding-bottom: 32px;
    border-radius: 20px;
    border-bottom-right-radius: 20px;

}

.slider__container #price__1{
    font-size: 24px;
    color: #0A7777;
}

.slider__container #price__2{
    font-size: 24px;
    color: #0A7777;
}

.slider__container #price__3{
    font-size: 24px;
    color: #0A7777;
}

.slider__container #price__4{
    font-size: 24px;
    color: #0A7777;
}

.slider__container #price__5{
    font-size: 24px;
    color: #0A7777;
}

.slider__container #price__6{
    font-size: 24px;
    color: #0A7777;
}



.slider__container #tour__dur__1{
    font-size: 15px;
    color: #A8A8A8;
    padding-left: 120px;

}
.slider__container #tour__dur__2{
    font-size: 15px;
    color: #A8A8A8;
    padding-left: 120px;

}
.slider__container #tour__dur__3{
    font-size: 15px;
    color: #A8A8A8;
    padding-left: 120px;

}

.slider__container #tour__dur__4{
    font-size: 15px;
    color: #A8A8A8;
    padding-left: 120px;

}

.slider__container #tour__dur__5{
    font-size: 15px;
    color: #A8A8A8;
    padding-left: 120px;

}
.slider__container #tour__dur__6{
    font-size: 15px;
    color: #A8A8A8;
    padding-left: 120px;

}

.button{
    display: flex;
    margin: 20px;
    justify-content: center;
    padding-top: 50px;
    position: absolute;
}

.button label{
    height: 15px;
    width: 15px;
    background-color: #D9D9D9;
    margin: 0 4px ;
    border-radius:50%;
    transition: all 0.5s ease;
    translate: -10px 415px;


}
.button label.active{
   background-color:#0A7777 ;
} 


#one:checked ~ .button label.one{
    background-color:#0A7777;
}
#two:checked ~ .button label.two{
    background-color:#0A7777;
}
#three:checked ~ .button label.three{
    background-color:#0A7777;
}
#four:checked ~ .button label.four{
    background-color:#0A7777;
}
#five:checked ~ .button label.five{
    background-color:#0A7777;
}
#six:checked ~ .button label.six{
    background-color:#0A7777;
}




#two:checked ~ .button label.one{
    background-color: #D9D9D9
}
#three:checked ~ .button label.one{
    background-color: #D9D9D9
}
#four:checked ~ .button label.one{
    background-color: #D9D9D9
}
#five:checked ~ .button label.one{
    background-color: #D9D9D9
}
#six:checked ~ .button label.one{
    background-color: #D9D9D9
}




input[type="radio"]{
    display: none;
}



.testimonials{
    display: flex;
    margin-top: 103px;
    flex-wrap: wrap;
}

.test__texts{
    margin-left: 27%;
}

.test__texts #test__span{
    color: #0A7777;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 29px;
}

.test__texts h2{
    font-size: 48px;
}

.people__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
    column-gap: 16px;
    padding-bottom: 300px;
    flex-wrap: wrap;

}

.test__card__1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/test__background__1.png);
    background-repeat: no-repeat;
    border-radius: 35px;
    padding-right: 24px;
    padding-left: 22px;

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

    flex-shrink: 0;


}

.test__card__1:hover{
    box-shadow:
    0 1.8px 1.2px rgba(235, 71, 71, 0.692),
    0 1.7px 1.3px rgba(186, 62, 190, 0.815),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

}

.test__card__2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/test__background__2.png);
    background-repeat: no-repeat;
    border-radius: 35px;
    padding-right: 24px;
    padding-left: 22px;

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

    flex-shrink: 0;

}

.test__card__2:hover{
    box-shadow:
    0 1.8px 1.2px rgba(235, 71, 71, 0.692),
    0 1.7px 1.3px rgba(186, 62, 190, 0.815),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

}

.test__card__3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/test__background__3.png);
    background-repeat: no-repeat;
    border-radius: 35px;
    padding-right: 24px;
    padding-left: 22px;

    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

    flex-shrink: 0;
    

}

.test__card__3:hover{
    box-shadow:
    0 1.8px 1.2px rgba(235, 71, 71, 0.692),
    0 1.7px 1.3px rgba(186, 62, 190, 0.815),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

}

.test__card__4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/test__background__4.png);
    background-repeat: no-repeat;
    border-radius: 35px;
    padding-right: 30px;
    padding-left: 22px;
    transition: all 1s ease;

    box-shadow:
    0 1.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

    flex-shrink: 0;

}

.test__card__4:hover{
    box-shadow:
    0 1.8px 1.2px rgba(235, 71, 71, 0.692),
    0 1.7px 1.3px rgba(186, 62, 190, 0.815),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

}

.woman__1{
    padding-top: 38.5px;
}

.woman__2{
    padding-top: 38.5px;
}

.woman__3{
    padding-top: 38.5px;
}

.woman__4{
    padding-top: 38.5px;
}

.people__cards p{
    padding-bottom: 16px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 14.52px;

}

.people__cards span{
    font-size: 36px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}


.stars__1{
    padding-bottom: 20px;
}

.stars__2{
    padding-bottom: 20px;
}

.stars__3{
    padding-bottom: 20px;
}

.stars__4{
    padding-bottom: 20px;
}


.tour__texts{
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

.tour__texts h2{
    font-weight: 700;
    font-size: 48px;

}

.tour__texts p{
    font-weight: 200;
    font-size: 24px;
    line-height: 34px;
    font-family: 'Inter', sans-serif;
    

}

.tour__container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 200px;
    justify-content: center;
    gap: 30px;
    padding-bottom: 150px;
}



.tour__selection img{
    max-width: 270px;
    
}

.tour__1{
    background-color:rgba(217, 217, 217, 0.47); 
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    padding-right: 18px;
    padding-top: 13px;
    padding-left:16px ;
    margin-right: 93px;
    
}

.tour__2{
    background-color:rgba(217, 217, 217, 0.47); 
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    padding-right: 18px;
    padding-top: 13px;
    padding-left:16px ;
    margin-top: 200px;
    
}

.tour__3{
    background-color:rgba(217, 217, 217, 0.47); 
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    padding-right: 18px;
    padding-top: 13px;
    padding-left:16px ;
    margin-top: 200px;
    
}

.tour__4{
    background-color:rgba(217, 217, 217, 0.47); 
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    padding-right: 18px;
    padding-top: 13px;
    padding-left:16px ;
    margin-left: 93px;
    
}

#tour__dur__11{
    color: #A8A8A8 ;
    align-self: flex-end;
    position: relative;
    padding-bottom: 10px;
}

#tour__dur__12{
    color:#A8A8A8 ;
    align-self: flex-end;
    padding-bottom: 10px;
}

#tour__dur__13{
    color: #A8A8A8;
    align-self: flex-end;
    padding-bottom: 10px;
}


#tour__dur__14{
    color: #A8A8A8;
    align-self: flex-end;
    padding-bottom: 10px;
}

#price__11{
    color: #0A7777;
    font-size: 24px;
}

#price__12{
    color: #0A7777;
    font-size: 24px;
}

#price__13{
    color: #0A7777;
    font-size: 24px;
}

#price__14{
    color: #0A7777;
    font-size: 24px;
}


#place__11{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    padding-top: 23px;
    padding-bottom: 20px;
}


#place__12{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    padding-top: 23px;
    padding-bottom: 20px;
}


#place__13{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    padding-top: 23px;
    padding-bottom: 20px;
}


#place__14{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    padding-top: 23px;
    padding-bottom: 20px;
}

.last__button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -150px;
}

.last__but{
    background-color: #0A7777;
    color: #fff;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 40px;
    border-radius: 9px;
    font-size: 24px;
}
.last__but{
    text-decoration: none;
}
.last__but:hover{
    color: #fff;
}

