

.backpack__guy{
    display: flex;
    justify-content: center;
    box-sizing: border-box;

}


.backpack__guy h1{
    font-size: 48px;
    line-height: 69px;
    margin-top: 276px;
    margin-bottom: 80px;

    
}

.backpack__guy p{
    font-weight: 400;
    line-height: 35px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;

}

.backpack__guy #back__girl{
    margin-top: 75px;
    padding-left: 290px;
}

.search__box{
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 63px;
    font-family: 'Inter', sans-serif;
    line-height: 1px;
    
}


.search__box #calendar{
    display: inline;
    padding-left: 27px;
    padding-top: 36px;
    padding-bottom: 37px;
    padding-right: 30px;
}

input[type="date"]{
    border: none;
    border-radius: 40px;
    font-weight: 600;
    font-size: 12px;
    outline:none;

    
}
input[type="date"]::-webkit-calendar-picker-indicator{
    display: none;

}

.date__picker label{
    padding-left: 20px;
    font-weight: 600;
    font-size: 15px;

}
.search__box{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

}

.search__box #appt{
    height: 12px;
    line-height: 15px;
}

.date__picker #vector{
    padding-left: 0px;
    padding-right: 14px;
}

.date__picker #line{
    padding-right: 32px;
}

input[type="text"]{
    border:none;
    border-radius: 60px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

    margin-top: 15px;
    box-sizing: border-box;
    width:120px;
    margin-left: 20px;

}

.location__selector label{
    padding-left: 63px;
    padding-bottom: 10px;
}
.location__selector #vector__2{
    padding-left: 32px;
}

.search__box #search__icon{
    padding-left: 27px;
    padding-right: 60px;

}

.about__us{
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin-top: 238px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.palm__pic{
    position: relative;
    top: 0;
    left:40px;
}
.church__pic{
    position: relative;
    top: 100px;
    left: -130px;
}
.about__us__texts label{
    color: #0A7777;
    font-weight: 600;
    font-size: 24px;
}

.about__us__texts h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
}
.about__us__texts p{
    font-size: 24px;
    padding-bottom: 30px;
    font-family: 'Inter', sans-serif;
}
.about__numbers li{
    list-style: none;
    display: inline;
    padding-right: 78px;
    color: #0A7777;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    
}

.about__numbers ul{
    padding-left: 0px;
}

.number__descriptions li {
    list-style: none;
    display: inline-block;
    padding-right: 40px;


}

.number__descriptions ul{
    padding-left: 0px;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.slider__texts{
    display:flex;
    margin-top: 212px;
    justify-content:center;
    padding-right: 800px;

}

.slider__texts label{
    font-size: 24px;
    color: #0A7777;
    height: 40px;
    flex-direction: column;
    position:absolute;
    padding-right: 220px;
}

.slider__texts h3{
    padding-top: 20px;
    font-size: 48px;
    font-weight: 700;
    line-height: 69px;
    
}


.slider__container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}

.slider__container span{
    position: relative;
    
}

.slider__container .slide__box__1{
    background-color:rgba(217, 217, 217, 0.47); 
    padding-top: 19px;
    padding-left: 19px;
    padding-bottom: 23px;
    max-width: 340px;
    border-radius: 13px;
    transition: all 1s ease;
    margin-bottom: 200px;
}

.slider__container .slide__box__2{
    background-color:rgba(217, 217, 217, 0.47); 
    padding-top: 19px;
    padding-left: 19px;
    padding-bottom: 23px;
    max-width: 340px;
    border-radius: 13px;
    padding-right: 25px;
    margin-bottom: 200px;
    transition: all 1s ease;
}

#two:checked ~ .slide__box__1{
    margin-left: -100%;
    opacity: 0;

}
#two:checked ~ .slide__box__2{
    margin-top: -100%;
    opacity: 0;

}
#two:checked ~ .slide__box__3{
    margin-right: -100%;
    opacity: 0;

}
#two:checked ~ .slide__box__4{

    margin-left: 3900px;
}


#one:checked ~ .slide__box__4{
    opacity: 0;
    margin-bottom: -100%;
    display: none;
}

#one:checked ~ .slide__box__5{
    opacity: 0;
    margin-top: -100%;
    display: none;
}

#one:checked ~ .slide__box__6{
    opacity: 0;
    margin-bottom: -100%;
    display: none;
}

.slider__container .slide__box__3{
    background-color:rgba(217, 217, 217, 0.47); 
    padding-top: 19px;
    padding-left: 19px;
    padding-bottom: 23px;
    max-width: 340px;
    border-radius: 13px;
    margin-bottom: 200px;
    transition: all 1s ease;
    
}

.slider__container .slide__box__4{
    background-color:rgba(217, 217, 217, 0.47); 
    padding-top: 19px;
    padding-left: 19px;
    padding-bottom: 47px;
    max-width: 340px;
    border-radius: 13px;
    transition: all 1s ease;
    height: 100%;
    
}

.slider__container .slide__box__5{
    background-color:rgba(217, 217, 217, 0.47); 
    padding-top: 19px;
    padding-left: 19px;
    padding-bottom: 47px;
    max-width: 340px;
    border-radius: 13px;
    transition: all 1s ease;
    height: 100%;
    padding-right: 20px;
    
}

.slider__container .slide__box__6{
    background-color:rgba(217, 217, 217, 0.47); 
    padding-top: 19px;
    padding-left: 19px;
    padding-bottom: 47px;
    max-width: 340px;
    border-radius: 13px;
    transition: all 1s ease;
    height: 100%;
    
}

.slide__box__1 #place__name__1{
    font-size: 24px;
    font-weight: 700;
    

}

.slide__box__2 #place__name__2{
    font-size: 24px;
    font-weight: 700;
}

.slide__box__3 #place__name__3{
    font-size: 24px;
    font-weight: 700;
}

.slide__box__3 #place__name__4{
    font-size: 24px;
    font-weight: 700;
}

.slide__box__3 #place__name__5{
    font-size: 24px;
    font-weight: 700;
}

.slide__box__3 #place__name__6{
    font-size: 24px;
    font-weight: 700;
}

.slider__container img{
    padding-bottom: 32px;
    border-radius: 20px;
    border-bottom-right-radius: 20px;

}

.slider__container #price__1{
    font-size: 24px;
    color: #0A7777;
}

.slider__container #price__2{
    font-size: 24px;
    color: #0A7777;
}

.slider__container #price__3{
    font-size: 24px;
    color: #0A7777;
}

.slider__container #price__4{
    font-size: 24px;
    color: #0A7777;
}

.slider__container #price__5{
    font-size: 24px;
    color: #0A7777;
}

.slider__container #price__6{
    font-size: 24px;
    color: #0A7777;
}



.slider__container #tour__dur__1{
    font-size: 15px;
    color: #A8A8A8;
    padding-left: 120px;

}
.slider__container #tour__dur__2{
    font-size: 15px;
    color: #A8A8A8;
    padding-left: 120px;

}
.slider__container #tour__dur__3{
    font-size: 15px;
    color: #A8A8A8;
    padding-left: 120px;

}

.slider__container #tour__dur__4{
    font-size: 15px;
    color: #A8A8A8;
    padding-left: 120px;

}

.slider__container #tour__dur__5{
    font-size: 15px;
    color: #A8A8A8;
    padding-left: 120px;

}
.slider__container #tour__dur__6{
    font-size: 15px;
    color: #A8A8A8;
    padding-left: 120px;

}

.button{
    display: flex;
    margin: 20px;
    justify-content: center;
    padding-top: 50px;
    position: absolute;
}

.button label{
    height: 15px;
    width: 15px;
    background-color: #D9D9D9;
    margin: 0 4px ;
    border-radius:50%;
    transition: all 0.5s ease;
    translate: -10px 415px;


}
.button label.active{
   background-color:#0A7777 ;
} 


#one:checked ~ .button label.one{
    background-color:#0A7777;
}
#two:checked ~ .button label.two{
    background-color:#0A7777;
}
#three:checked ~ .button label.three{
    background-color:#0A7777;
}
#four:checked ~ .button label.four{
    background-color:#0A7777;
}
#five:checked ~ .button label.five{
    background-color:#0A7777;
}
#six:checked ~ .button label.six{
    background-color:#0A7777;
}




#two:checked ~ .button label.one{
    background-color: #D9D9D9
}
#three:checked ~ .button label.one{
    background-color: #D9D9D9
}
#four:checked ~ .button label.one{
    background-color: #D9D9D9
}
#five:checked ~ .button label.one{
    background-color: #D9D9D9
}
#six:checked ~ .button label.one{
    background-color: #D9D9D9
}




input[type="radio"]{
    display: none;
}



